extend ../layout
block title
	if category == undefined
		title All threads | #{settings.site_name}
	else
		title #{category} | #{settings.site_name}
block content
	div#main-title
		if category == undefined
			h2 All threads
		else
			h2 #{category}
	for thread in threads
		article.thread
			.subject
				b 
					a(href='/thread/#{thread._id}/#{slug(thread.subject)}') #{thread.subject}
			.info
				span.category
					a(href='/?c=#{thread.category}') #{thread.category}
				span.author  Started by #{thread.author}
	!{pagination}