extend ../layout
block content
	div#main-title
		if category == undefined
			h2 All threads
		else
			h2 #{category}
	for thread in threads
		article.thread
			b 
				a(href='/thread/#{thread.id}/#{slug(thread.subject)}') #{thread.subject}
			span  by #{thread.author} on #{thread.created}