extend ../layout
block scripts
	script(src='/scripts/controllers/thread.js')
block content
	div#thread
		div#main-title
			if thread && thread.subject
				h2 #{thread.subject}
			for comment in comments
				article.comment
					div.comment-container
						div.comment-user
							div.username
								a(href='/user/#{comment.author}') #{comment.author}
							div.time #{timeago(comment.created)}
							div.user-avatar(style='background: url(http://placekitten.com/64/64)')
								ul
									li &nbsp;
									li &nbsp;
						div.comment-block
							if comment.deleted
								div.comment-content(style='color:red') This comment has been removed.
							else
								div.comment-content !{markdown(comment.content)}
					div(style='clear:both;')
			!{pagination}
			if loggedin
				form#comment-form(action='', method='post')
					div#post-shortcuts
						ul
							li &middot;
								a#url-shortcut(href='#') URL
							li &middot;
								a#image-shortcut(href='#') Image
					textarea(name='comment', rows='6', cols='60')
					span.info Posts are written in 
						a(href='http://daringfireball.net/projects/markdown/syntax') Markdown
						.
					input(type='submit', value='Post!')