extend ../layout
block title
	title #{thread.subject} | #{settings.site_name}
block scripts
	script(src='/scripts/controllers/thread.js')
block content
	div#thread
		div#main-title
			if thread && thread.subject
				h2 #{thread.subject}
			for comment in comments
				article.comment
					div.comment-container
						div.comment-user
							div.username
								a(href='/user/#{comment.user.username}') #{comment.user.username}
							div.time #{timeago(comment.created)}
							div.user-avatar(style='background: url(#{comment.user.avatar ? comment.user.avatar : 'http://placekitten.com/64/64'}) no-repeat;width:64px;height:64px;')
								ul
									li &nbsp;
									li &nbsp;
						div.comment-block
							if comment.deleted
								div.comment-content(style='color:red') This comment has been removed.
							else
								div.comment-content !{formatPost(comment.content, comment.user.username)}
					div(style='clear:both;')
			!{pagination}
			if loggedin
				form#comment-form(action='', method='post')
					div#post-shortcuts
						ul
							li &middot;
								a#url-shortcut(href='#') URL
							li &middot;
								a#image-shortcut(href='#') Image
					input(type='hidden', name='_csrf', value=token)
					textarea(name='comment', rows='6', cols='60')
					span.info Posts are written in 
						a(href='http://daringfireball.net/projects/markdown/syntax') Markdown
						.
					input(type='submit', value='Post!')