extend ../layout
block content
	div#main-title
		h2 #{user.username}
	div#user
		if 'instagram' in user.services
			div.social.instagram
					From Instagram:
					#{user.services.instagram.username}
		div#user-info-box
			div.box
				h3 #{user.username}
				if loggedin && !user.isYou 
					a(href='#') Add as buddy
				for service in user.services
					p #{service.name}: 
						a(href='#{service.url}') #{service.username}
			div#stats.box
				h3 Stats
				p.
					#{user.username} has been here since #{user.since}.
					Since then, #{user.username} has posted #{user.threads} threads and #{user.comments} comments.
			div.description.box
				h3 Description
					if user.description
						#{user.description}
			if 'twitter' in user.services
				div.social.twitter 
					a(class='twitter-timeline', width='200', height='300', href='https://twitter.com/#{user.services.twitter.username}', data-screen-name='#{user.services.twitter.username}', data-widget-id='355420673499344896', data-chrome='nofooter') Tweets by #{user.services.twitter.username}

					script
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");			
			if 'lastfm' in user.services
				div.social.lastfm.box
					h3 Listening to...
					if user.lastfm
						for song in user.lastfm
							div.song
								span.artist #{song.artist}
								p(style='display: inline')  - 
								span.name #{song.name}
						a(href='http://last.fm/user/#{user.services.lastfm.username}') See #{user.services.lastfm.username} on last.fm
			div#latest-posts