!!! 5
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/css/normalize.css')
		link(rel='stylesheet', href='/css/forum.css')
		block title
			title #{settings.site_name}
		body
			div#wrapper
				div#left-col
					header
						h1#logo
							a(href='/') #{settings.site_name}
					if loggedin
						div#user-box.node
							h4
								span Hi 
								a(href='/user/#{sUser.username}') #{sUser.username}
							ul
								li
									a#preferences(href='/preferences') Preferences
								li
									form(action='/auth/logout', method='post')
										input(type='hidden', name='_csrf', value=token)
										input#logout_btn(type='submit', value='Log out!')
					else
						div#login-box.node
							span.title Not a member?
							p
								a(href='/auth/register') Register
							form#login-form(action='/auth/login', method='post')
								input(type='hidden', name='_csrf', value=token)
								div
									label(for='username') U:
									input#username(type='text', name='username', tabindex='1')
									button(type='submit', tabindex='3') Do it!
								div
									label(for='password') P:
									input#password(type='password', name='password', tabindex='2')
									a#forgot-password(href='#') Forgot it?
					div#categories-box.node
						h3
							a(href='/') Categories
						ul
							for category in categories
								li.category 
									a(href='/?c=#{category}') #{category}
				div#right-col
					div#content 
						block content
				footer
					p Copyright 2013 #{settings.site_name}
			script(src='/scripts/YAY.js')
			block scripts
			script
				var controller = window.location.pathname.split('/')[1];
				if(YAY.controllers && YAY.controllers[controller] && typeof YAY.controllers[controller].init == 'function'){
					YAY.queue.push(YAY.controllers[controller].init);
				}
				YAY.init();