!!! 5
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/css/normalize.css')
		link(rel='stylesheet', href='/css/forum.css')
		block title
			title #{settings.site_name}
		body
			form(action='/auth/logout', method='post')#logout_form
				input(type='hidden', name='_csrf', value=token)
			div#wrapper
				div#left-col
					header
						h1#logo
							a(href='/') #{settings.site_name}
					nav
					if loggedin
						div#user-box.node
							h3
								span #{__('Hi ')}
								a(href='/user/#{sUser.username}') #{sUser.username}
					else
						div#login-box.node
							form#login-form(action='/auth/login', method='post')
								h3 Login
								input(type='hidden', name='_csrf', value=token)
								div
									input#username(type='text', placeholder='Username',  name='username', tabindex='1')
								div
									input#password(type='password', placeholder='Password', name='password', tabindex='2')
									a#forgot-password(href='#') #{__('Forgot it?')}
									button(type='submit', tabindex='3') #{__('Do it!')}
					nav
						ul
							li
								a(href='/') Home
							if loggedin
								li
									a#preferences(href='/preferences') #{__('Preferences')}
								li
									a#logout-btn(href='#', onclick='javascript:document.forms[0].submit();') #{__('Log out!')}
							else
								li
									a(href='/auth/register') Register
					footer
						p #{__('Copyright')} 2013 #{settings.site_name}
				div#right-col
					div#content 
						block content
			script(src='/scripts/YAY.js')
			block scripts
			script
				YAY.config.user = {
					username: #{!!loggedin} ? '#{sUser.username}' : false,
					loggedin: #{!!loggedin}
				};

				var controller = window.location.pathname.split('/')[1];
				if(YAY.controllers && YAY.controllers[controller] && typeof YAY.controllers[controller].init == 'function'){
					YAY.queue.push(YAY.controllers[controller].init);
				}
				YAY.init();